<body >
<section>
    <mat-form-field>
      <mat-label>Output Emit</mat-label>
      <textarea [(ngModel)]="value" matInput rows="1" placeholder="Enter value">
      </textarea>
    </mat-form-field>
    <br>
    <button mat-flat-button color="warn" (click)="outputEmitMethod(value)">Show in parent</button>
</section>
<br>

<!-- directives -->
<h2>NG FOR Directive</h2>
<mat-form-field appearance="fill" >
    <mat-label>Ng For And Output</mat-label>
    <mat-select>
      <mat-option *ngFor="let resource of Resource" (click)="outputEmitMethod(resource)" >
        {{resource.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <h2 [ngStyle]="{backgroundColor:getColor()}">{{ngStyleValue}}</h2>
  <br>
  <button mat-raised-button (click)="ngClassMethod(true,'Ng Class')">Show Ng Class</button>
  <button mat-raised-button (click)="ngClassMethod(false,'Ng Class Disabled')">Hide Ng Class</button>
  <br>
  <br>
  <h2 [ngClass]="{'ngClassCss':ngClassVariable == true}">{{NgClassVariableValue}}</h2>
</body>

