<body>
  <input mat-input>
<table mat-table [dataSource]="dataSource">
<ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.resourceName}}</td>
</ng-container>

<ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let element">{{element.resourceRole}}</td>
</ng-container>

<ng-container matColumnDef="salery">
    <th mat-header-cell *matHeaderCellDef>Salery</th>
    <td mat-cell *matCellDef="let element">{{element.resourceSalery}}</td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let g; columns:displayedColumns;"></tr>

</table>
<mat-paginator [pageSizeOptions]="[10,25,50,100]"   [length]="total" showFirstLastButtons >
</mat-paginator>


<div *matNoDataRow class="nodata-filter">
  <ng-container *ngIf="isNoData == false">
    <div class="img">
      <img src="assets/images/no-results.svg" alt="">
    </div>
  </ng-container>
</div>
<br>
<div class="popupDiv">
<p class="popupData">Popup Value : {{data.content}}</p>
</div>


<!-- Dialog -->
<div mat-dialog-content>
    <mat-form-field appearance="fill" >
        <mat-label>Choose One</mat-label>
        <mat-select [(ngModel)]="selectedValue">
          <mat-option *ngFor="let resource of dataSource" [value]="resource.resourceName">
            {{resource.resourceName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="onOkClick()" >Ok</button>
  </div>
</body>
<!-- [pageSize]="limit" (page)="pageChanged($event)" -->