<router-outlet ></router-outlet>
<body>
<div>
    <section>
        <mat-form-field>
          <textarea [(ngModel)]="parent" matInput rows="1" placeholder="Enter value" >
          </textarea>
          <!-- <button mat-raised-button >Show in Child</button> -->
        </mat-form-field>
    </section>
    <br>
    <mat-form-field appearance="fill" >
      <mat-label>Selected One</mat-label>
      <mat-select >
        <mat-option *ngFor="let resource of dataSource" [value]="resource.resourceName">
          {{resource.resourceName}}
        </mat-option>
        <mat-option *ngFor="let resource of dataSource" [value]="resource.resourceRole">
          {{resource.resourceRole}}
        </mat-option>
        <mat-option *ngFor="let resource of dataSource" [value]="resource.resourceSalery">
          {{resource.resourceSalery}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="buttonInline">
    <br>
    <button mat-flat-button color="warn" (click)="openDialog()">dialog</button>
    <br>
    <br>
    <!-- <mat-label>Ng For And Output</mat-label>
    <mat-select>
      <mat-option *ngFor="let resource of dialogData" >
        {{resource}}
      </mat-option>
    </mat-select> -->
    <button mat-flat-button color="warn" (click)="showChildComponent()" >Show Directive and I/O</button>
    <br>
    <br>
    <button mat-flat-button color="warn" (click)="sendMessageToBehaviorSubject()" >Behaviour Subject</button>
  </div>
  </div>
<app-child-component *ngIf="showChild" (outputEmit)="bindChildValue($event)" [inputEmit]="parent"></app-child-component>
<br>
<br>
<nav>
  <a *ngIf="promiseComponent" routerLink="/input" routerLinkActive="active">Router</a></nav>
<!-- <app-promise ></app-promise> -->
<router-outlet></router-outlet>
</body>